body{
font-size: 22px;
background:#e6ccff
}

a {
  text-decoration: none;
}

.thumbnail-title{
  display: block;
  margin: 0;
  padding: 4px 10px;
  background: #702970;
  color: #d68fd6;

  font-size: 25px;
}

.thumbnail-image {
  display:block;
  width: 30%
}

.thumbnail-item {
  border: 1px solid rgb(100%,100%,100%);
  /*jakby web browser nie oblsugiwala rgba*/
  border: 6px solid rgba(100%,50%,100%,0.3);

}
