body{
font-size: 22px;
}

a {
  text-decoration: none;
}

.thumbnail-title{
  display: block;
  margin: 0;
  padding: 4px 10px;
  background: #702970;
  color: #d68fd6;

  font-size: 25px;
}

.thumbnail-image {
  width: 80%
}
